<div class="shell">
  <app-header />
  <div class="shell__body">
    <app-sidebar />
    <main class="shell__main">
      @if (currentNotebookId()) {
        <div class="shell__toolbar">
          <button type="button" class="new-note-button" (click)="createTextNote()">
            <i class="fa-solid fa-file-lines" aria-hidden="true"></i>
            Text note
          </button>
          <button type="button" class="new-note-button" (click)="createChecklistNote()">
            <i class="fa-solid fa-list-check" aria-hidden="true"></i>
            Checklist
          </button>
        </div>
      }
      <app-note-grid />
    </main>
  </div>
</div>

@if (editorNote(); as note) {
  <app-note-editor-dialog [note]="note" />
}
