<div class="shell">
  <app-header />
  <div class="shell__body">
    <app-sidebar />
    <main class="shell__main">
      @if (currentNotebookId()) {
        <div class="shell__toolbar">
          <button type="button" class="new-note-button" (click)="createTextNote()">
            <i class="fa-solid fa-file-lines" aria-hidden="true"></i>
            {{ i18n.t('toolbar.textNote') }}
          </button>
          <button type="button" class="new-note-button" (click)="createChecklistNote()">
            <i class="fa-solid fa-list-check" aria-hidden="true"></i>
            {{ i18n.t('toolbar.checklist') }}
          </button>
        </div>
      }
      <app-note-grid />
    </main>
  </div>
</div>

@if (editorNote(); as note) {
  <app-note-editor-dialog [note]="note" />
}

@if (ui.lightboxImageId(); as imageId) {
  <app-image-lightbox [imageId]="imageId" (closed)="ui.closeLightbox()" />
}

@if (ui.settingsOpen()) {
  <app-settings-dialog (closed)="ui.closeSettings()" />
}

@if (ui.transferOpen()) {
  <app-transfer-dialog (closed)="ui.closeTransfer()" />
}

@if (ui.shortcutHelpOpen()) {
  <app-shortcut-help-dialog (closed)="ui.closeShortcutHelp()" />
}
