<dialog
  #dialog
  class="editor"
  (cancel)="onCancel($event)"
  (click)="onBackdropClick($event)"
  (keydown)="onDialogKeydown($event)"
>
  <div
    class="editor__body"
    [style.background-color]="colorVar()"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (paste)="onPaste($event)"
  >
    <input
      #fileInput
      type="file"
      multiple
      accept="image/png,image/jpeg,image/webp,image/gif"
      hidden
      (change)="onFilesPicked($any($event.target))"
    />
    <div class="editor__header">
      <input
        class="editor__title"
        appAutofocus
        [placeholder]="i18n.t('editor.titlePlaceholder')"
        [value]="title()"
        (input)="onTitleInput($any($event.target).value)"
      />
      <button
        type="button"
        class="editor__close"
        [title]="i18n.t('common.close')"
        (click)="close()"
      >
        <i class="fa-solid fa-xmark" aria-hidden="true"></i>
      </button>
    </div>

    @if (note().imageIds.length > 0) {
      <div class="editor__images">
        @for (id of note().imageIds; track id) {
          <div class="editor__image-wrap">
            <img
              class="editor__image"
              [src]="id | glacierImg"
              alt=""
              tabindex="0"
              (click)="ui.openLightbox(id)"
              (keydown.enter)="ui.openLightbox(id)"
            />
            <button
              type="button"
              class="editor__image-remove"
              [title]="i18n.t('editor.removeImage')"
              (click)="removeImage(id)"
            >
              <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </button>
          </div>
        }
      </div>
    }

    @if (isChecklist()) {
      <div class="editor__checklist">
        <app-checklist-editor
          [items]="items()"
          [moveCheckedToBottom]="settings.moveCheckedToBottom()"
          (itemsChange)="onItemsChange($event)"
        />
      </div>
    } @else {
      <div class="editor__toolbar">
        <app-markdown-toolbar [disabled]="previewMode()" (action)="onToolbar($event)" />
        <button
          type="button"
          class="editor__preview-toggle"
          [class.editor__preview-toggle--active]="previewMode()"
          [title]="previewMode() ? i18n.t('editor.edit') : i18n.t('editor.preview')"
          (click)="previewMode.set(!previewMode())"
        >
          <i
            class="fa-solid"
            [class.fa-eye]="!previewMode()"
            [class.fa-pen]="previewMode()"
            aria-hidden="true"
          ></i>
          {{ previewMode() ? i18n.t('editor.edit') : i18n.t('editor.preview') }}
        </button>
      </div>

      @if (previewMode()) {
        <div
          class="editor__preview markdown-body"
          [innerHTML]="previewHtml()"
          (click)="onPreviewClick($event)"
        ></div>
      } @else {
        <textarea
          class="editor__content"
          #textarea
          [placeholder]="i18n.t('editor.contentPlaceholder')"
          [value]="content()"
          (input)="onContentInput($any($event.target).value)"
          (keydown)="onContentKeydown($event)"
        ></textarea>
      }
    }

    <div class="editor__footer">
      <div class="editor__footer-actions">
        <button type="button" class="editor__convert" (click)="convert()">
          <i
            class="fa-solid"
            [class.fa-list-check]="!isChecklist()"
            [class.fa-file-lines]="isChecklist()"
            aria-hidden="true"
          ></i>
          {{ isChecklist() ? i18n.t('editor.convertToText') : i18n.t('editor.convertToChecklist') }}
        </button>
        <button type="button" class="editor__add-image" (click)="openImagePicker()">
          <i class="fa-solid fa-image" aria-hidden="true"></i>
          {{ i18n.t('editor.addImage') }}
        </button>
        <span class="editor__menu-anchor">
          <button
            type="button"
            class="editor__color"
            [title]="i18n.t('card.color')"
            (click)="toggleColorMenu($event)"
          >
            <i class="fa-solid fa-palette" aria-hidden="true"></i>
            {{ i18n.t('card.color') }}
          </button>
          @if (colorMenuOpen()) {
            <app-color-picker-menu [note]="note()" (closed)="colorMenuOpen.set(false)" />
          }
        </span>
        <span class="editor__menu-anchor">
          <button
            type="button"
            class="editor__color"
            [title]="i18n.t('editor.labels')"
            (click)="toggleLabelMenu($event)"
          >
            <i class="fa-solid fa-tag" aria-hidden="true"></i>
            {{ i18n.t('editor.labels') }}
          </button>
          @if (labelMenuOpen()) {
            <app-label-picker-menu [note]="note()" (closed)="labelMenuOpen.set(false)" />
          }
        </span>
        <button
          type="button"
          class="editor__color"
          [title]="i18n.t('share.email')"
          (click)="share()"
        >
          <i class="fa-solid fa-envelope" aria-hidden="true"></i>
          {{ i18n.t('share.email') }}
        </button>
        @if (isChecklist()) {
          <label class="editor__setting">
            <input
              type="checkbox"
              [checked]="settings.moveCheckedToBottom()"
              (change)="settings.setMoveCheckedToBottom($any($event.target).checked)"
            />
            {{ i18n.t('editor.moveChecked') }}
          </label>
        }
      </div>
      <span class="editor__meta">{{
        i18n.t('editor.edited', { date: i18n.formatDate(note().updatedAt) })
      }}</span>
    </div>
  </div>
</dialog>

@if (shareConfirm()) {
  <app-confirm-dialog
    [title]="i18n.t('share.imagesTitle')"
    [message]="shareMessage()"
    [confirmLabel]="shareConfirmLabel()"
    [secondaryLabel]="i18n.t('share.exportNote')"
    [confirmDanger]="false"
    (secondary)="exportNote()"
    (closed)="onShareConfirmed($event)"
  />
}
